@use "global" as *;

.form-agree input + span {
  font-size:  rem(14);
  font-weight: $regular;
  line-height: calc(22/14);
  color: $font-color;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: rem(28);
}

.form-agree input + span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: $white;
  border: 1px solid $accent-color;
  display: inline-block;
  width: rem(20);
  height: rem(20);
}

.form-agree input + span::after {
  content: "";
  position: absolute;
  top: rem(8.5);
  left: rem(3.5);
  transform: translateY(-50%) rotate(-45deg);
  display: block;
  width: rem(13);
  height: rem(7);
  border-bottom: 2px solid #c94800;
  border-left: 2px solid #c94800;
  transition: 0.3s;
  opacity: 0;
}

.form-agree input:checked + span::after {
  opacity: 1;
}