@use "global" as *;

.page-campaign__inner {
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-inline: auto;
  max-width: rem(655);

  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.page-campaign__cards {
  display: grid;
  gap: rem(40) rem(40);
  margin-top: rem(40);
  padding: 0 rem(32.5);

  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(80) rem(40);
    padding: 0;
  }
}

.page-campaign__pagenavi {
  margin-top: rem(80);
}

.page-campaign__pagenavi .wp-pagenavi {
  column-gap: rem(40);
}