@use "global" as *;

.sidebar-campaign__cards {
  display: flex;
  flex-direction: column;
  row-gap: rem(40);
  margin-top: rem(24);
}

.sidebar-campaign .campaign-card {
  width: auto;
}

.sidebar-campaign .campaign-card__img img {
  aspect-ratio: 294/188;
}

.sidebar-campaign .campaign-card__title-main {
  text-align: center;
}

.sidebar-campaign__button {
  text-align: center;
  margin-top: rem(40);
}