@use "global" as *;

.about {
  padding: rem(84) 0 rem(72);

  @include mq(md) {
    padding: rem(138) 0 rem(164);
}

.about__illustration-wrapper {
  max-width: rem(1304);
  width: 100%;
  margin: auto;
  position: relative;
}

.about__inner {
  position: relative;
}
}

.about__container {
  margin-top: rem(28);

  @include mq(md) {
    margin-top: rem(41);
    position: relative;
  }
}

.about__image img {
  aspect-ratio: 345 / 212;
  object-fit: cover;
  height: auto;

@include mq(md) {
  aspect-ratio: 1080 / 661;
}
}

.about__body {
  margin-top: rem(39);

  @include mq(md) {
    display: flex;
    position: absolute;
    top: calc(50% - rem(12));
    left: calc(50% + rem(80));
    transform: translate(-50%, -50%);
    margin-top: 0;
    column-gap: rem(40);
  }
}

.about__body-title {
  font-family: $second-font-family;
  font-size: rem(40);
  font-weight: $regular;
  line-height: 1.04;
  color: $accent-color;

  @include mq(md) {
    font-size: rem(80);
    line-height: calc(100 / 80);
    color: $white;
    padding-top: rem(3);
    margin-left: rem(-1);
  }
}

.about__box {
  margin-top: rem(14);

  @include mq(md) {
    margin-top: 0;
  }
}

.about__text {
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(24 / 16);
  color: $title-color;

  @include mq(md) {
    color: $white;
    width: rem(400);
    padding-top: rem(2);
  }
}

.about__illustration {
  display: none;
  width: rem(209);
  height: rem(181);
  position: absolute;
  right: rem(0);
  bottom: rem(-90);
  padding-right: rem(15);

  @include mq(md) {
    display: block;
  }
}