@use "global" as *;

.blog {
padding-top: rem(80);
}

.blog__inner {
  width: 100%;
  padding-right: rem(21);
  padding-left: rem(21);
  margin-right: auto;
  margin-left: auto;

  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.blog__cards {

}

.blog__card {

}
