@use "global" as *;

.blog {
  padding-top: rem(80);
  padding-bottom: rem(4);

  @include mq(md) {
    padding-top: rem(100);
    background-image: url(../images/common/blog-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100vw 60%;
  }
}

.blog__illustration-wrapper {
  max-width: rem(1240);
  width: 100%;
  margin: auto;
  position: relative;
}

.blog__inner {
  width: 100%;
  padding-right: rem(21);
  padding-left: rem(21);
  margin-right: auto;
  margin-left: auto;
  max-width: rem(634);

  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.blog__cards {
  margin-top: rem(24);

  @include mq(md) {
    display: flex;
    column-gap: rem(40);
    margin-top: rem(80);
  }
}

.blog__illustration {
  display: none;
  width: rem(452);
  height: rem(201);
  position: absolute;
  left: rem(0);
  top: rem(-70);
  padding-left: rem(15);

  @include mq(md) {
    display: block;
  }
}
