@use "global" as *;

.button__wrapper {
  text-align: center;
}

.button__wrapper--campaign {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(80);
  }
}

.button__wrapper--about {
  margin-top: rem(50);

  @include mq(md) {
    margin-top: rem(40);
  }
}

.button__wrapper--information {
  margin-top: rem(40);
}

.button__wrapper--blog {
  margin-top: rem(40);

  @include mq(md) {
  margin-top: rem(80);
  }
}

.button__wrapper--voice {
  margin-top: rem(40);

  @include mq(md) {
  margin-top: rem(80);
  }
}

.button__wrapper--price {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(80);
  }
}

.button {
  display: inline-block;
  width: 202px;
  padding: 15px 40px;
  font-size: 14px;
  font-family: $second-font-family;
  font-weight: $regular;
  border: solid 1px $accent-color;
  line-height: calc(22 /14 );
  transition: 0.3s;
  background-color: $accent-color;
  color: $white;
  cursor: pointer;
  text-align: left;
  position: relative;

  z-index: 1;
}

.button::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: solid 1px $accent-color;
  z-index: -1;
}

.button::after {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.button span {
  position: relative;
}

.button span::after {
  position: absolute;
  content: "";
  top: calc(50% - 2px);
  transform: translateY(-50%);
  right: -48px;
  background-image: url(../images/common/arrow-white.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 6px;
}

.button:hover {
  color: $accent-color;
}

.button:hover::after {
  transform: scale(1, 1);
}

.button:hover span::after {
  background-image: url(../images/common/arrow-accent.png);
}

