@use "global" as *;

.campaign-card {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.campaign-card a {
  display: inline-block;
  background-color: $white;
}

.campaign-card a:hover {
  opacity: 1;
}

.campaign-card__img {
  width: 100%;
  overflow: hidden;
}

.campaign-card__img img {
  aspect-ratio: 280/188;
  object-fit: cover;
}

.campaign-card__body {
  padding: rem(18) rem(16) rem(22);

  @include mq(md) {
    padding: rem(26) rem(16) rem(37);
  }
}

.campaign-card__category {
  font-family: $base-font-family;
  font-size: rem(12);
  font-weight: $regular;
  line-height: calc(22/ 12);
  color: $accent-color;
  border: 1px solid $accent-color;
  padding: 5.5px 11px;

  @include mq(md) {
  padding: rem(7) rem(14.5) rem(8);
  }
}

.campaign-card__text-main {
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $medium;
  line-height: calc(26/ 12);
  color: $title-color;
  border-bottom: 1px solid $accent-color;
  padding: rem(3) 0 rem(1);

  @include mq(md) {
    padding: rem(5) 0 rem(1);
  }
}

.campaign-card__text-sub {
  font-family: $base-font-family;
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(24/ 14);
  color: $title-color;
  text-align: center;
  margin-top: rem(8);

  @include mq(md) {
  font-size:  rem(16);
  margin-top: rem(16);
  padding-right: rem(15);
  }
}

.campaign-card__price {
  font-family: $third-font-family;
  font-size: rem(32);
  font-weight: $bold;
  line-height: 1.1;
  color: $accent-color;
  margin-top: rem(6);
  text-align: center;

  @include mq(md) {
  font-size:  rem(40);
  margin-top: rem(4);
  }
}

.campaign-card__price span {
  font-family: $third-font-family;
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1;
  color: $title-color;
  display: inline-block;
  margin-right: rem(18);
  text-decoration: line-through 3px solid #C94800;

  @include mq(md) {
  font-size:  rem(24);
  margin-right: rem(25);
  }
}