@use "global" as *;

.campaign-swiper__swiper {
  padding: rem(5);

  @include mq(md) {
    margin-left: rem(-5);
  }
}

.campaign-swiper__button-wrap {
  display: flex;
  position: absolute;
  right: 14px;
  top: 22px;
}

.campaign-swiper__button-wrap .swiper-button-prev,
.campaign-swiper__button-wrap .swiper-button-next {
  display: none;
  position: relative;
  width: rem(80);
  height: rem(80);
  background-color: $white;
  border-radius: 50%;
  border: 1px solid $accent-color;

  @include mq(md) {
    display: block;
  }
}

.campaign-swiper__button-wrap .swiper-button-next {
  margin-left: rem(100);
}

.campaign-swiper__button-wrap .swiper-button-prev::before,
.campaign-swiper__button-wrap .swiper-button-next::before {
  content: "";
  display: block;
  width: rem(40);
  height: 1px;
  position: absolute;
  top: calc(50% + rem(2));
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background: $accent-color;
}

.campaign-swiper__button-wrap .swiper-button-prev::after,
.campaign-swiper__button-wrap .swiper-button-next::after {
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background: $accent-color;
  position: absolute;
  top: calc(50% - 1.5px);
  border-radius: 4px;
}

.campaign-swiper__button-wrap .swiper-button-prev::after {
  left: calc(50% - rem(22));
  transform: rotate(-40deg);
}

.campaign-swiper__button-wrap .swiper-button-next::after {
  right: calc(50% - rem(22));
  transform: rotate(40deg);
}