@use "global" as *;

.campaign {
  overflow: hidden;
  padding-top: rem(44);
  padding-bottom: rem(5);

  @include mq(md) {
    padding-top: rem(120);
    padding-bottom: rem(6);
  }
}

.campaign__inner {
  margin: auto;
  padding-left: rem(10);
  padding-right: rem(15);
  width: 100%;

  @include mq(md) {
    padding: 0 rem(25);
    max-width: rem(1130);
  }
}

.campaign__swiper {
  margin-right: calc(50% - 50vw);
  width: 100vw;
  margin-top: rem(23);
  position: relative;

  @include mq(md) {
  margin-top: rem(35);
  }
}