@use "global" as *;

.contact {
  padding: rem(80) 0 rem(104);
  text-align: center;
  position: relative;

  @include mq(md) {
    padding: rem(140) 0 rem(160);
    filter: initial;
  }
}

.contact__illustration-wrapper {
  max-width: rem(1370);
  width: 100%;
  margin: auto;
  position: relative;
}

.contact__illustration {
  width: rem(124);
  height: rem(50);
  position: absolute;
  right: rem(0);
  top: rem(-27);
  padding-right: rem(15);

  @include mq(md) {
    width: rem(316);
    height: rem(138);
    right: rem(0);
    top: rem(-40);
  }
}

.contact__inner {
  width: 100%;
  padding-right: rem(30);
  padding-left: rem(30);
  margin-right: auto;
  margin-left: auto;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    filter: initial;
  }
}

.contact__container {
  text-align: center;

  @include mq(md) {
    display: flex;
    padding: rem(80) rem(50);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  }
}

.contact__content-first {
  padding: 0 rem(10);

  @include mq(md) {
    width: 53.35%;
    padding: 0 rem(82) 0 0;
    border-right: 1px solid $accent-color;
  }
}

.contact__content-second {
  margin-top: rem(40);

  @include mq(md) {
    flex: 1;
    margin-top: rem(22);
    padding-left: rem(17);
    filter: initial;
  }
}

.contact__logo {
  @include mq(md) {
    padding-bottom: rem(2);
  }
}

.contact__logo a {
  display: inline-block;
  width: rem(174);

  @include mq(md) {
    width: rem(200);
  }
}

.contact__body {
  border-top: 1px solid $accent-color;
  padding-top: rem(13);

  @include mq(md) {
    display: flex;
    column-gap: rem(21);
    padding-top: rem(24);
    filter: initial;
  }
}

.contact__info {
  @include mq(md) {
    flex: 1;
    text-align: left;
    margin-top: rem(-2);
  }
}

.contact__info p {
  display: inline-block;
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $regular;
  color: $title-color;
  line-height: calc(28 / 16);
}

.contact__map-wrap {
  margin-top: rem(15);
  width: 100%;

  @include mq(md) {
    width: 62%;
    margin-top: 0;
  }
}

.contact__map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 54.237%;
}

.contact__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact__lead {
  font-family: $base-font-family;
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(18 / 14);
  color: $accent-color;
  margin-top: rem(9);

  @include mq(md) {
    margin-top: rem(7);
  }
}