@use "global" as *;

.contact {
  padding: rem(80) 0 rem(104);

}

.contact__illustration-wrapper {

}

.contact__inner {

}

.contact__container {

}

.contact__content {

}

.contact__logo {
  max-width: rem(174);
  width: 100%;
}

.contact__body {

}

.contact__info {

}

.contact__map {

}

.contact__title {

}

.section-title {

}

.section-title__main {

}

.section-title__sub {

}

.contact__lead {

}

