@use "global" as *;

.footer {
  margin-top: rem(200);

  padding: rem(45) 0 rem(56);
  color: $white;
  background-color: $accent-color;

  @include mq(md) {
    padding: rem(80) 0;
  }
}

.footer__inner {
  margin: auto;
  padding: 0 calc(15 / 375 * 100vw);
  width: 100%;

  @include mq(md) {
    padding: 0 rem(25);
    max-width: rem(1058);
  }
}

.footer__head-box {
  @include mq(md) {
    display: flex;
    column-gap: rem(40);
  }
}

.footer__logo {
  max-width: rem(120);
  width: 100%;

  @include mq(md) {
    max-width: rem(200);
  }
}

.footer__sns {
  margin-top: rem(16);
  display: flex;
  justify-content: left;
  align-items: center;

  @include mq(md) {
    margin-top: rem(10);
  }
}

.footer__sns-icon {
  display: block;
  width: rem(19.5);

  @include mq(md) {
    width: rem(26);
  }
}

.footer__sns-icon+.footer__sns-icon {
  margin-left: rem(16);

  @include mq(md) {
    margin-left: rem(19);
  }
}

.footer__nav {
  padding-left: rem(22);
  margin-top: rem(40);
  width: rem(345);
  margin: auto;

  @include mq(md) {
    width: 100%;
  }
}

.footer__nav-container {
  display: flex;
  flex-direction: column;
  row-gap: rem(40);

  @include mq(md) {
    flex-direction: row;
    row-gap: 0;
    column-gap: rem(140);
  }
}

.footer__nav-content {
  display: flex;
  flex-direction: column;
  row-gap: rem(40);
}

.footer__nav-block {
  display: flex;
  flex-direction: column;
  row-gap: rem(24);
}

.footer__nav-items {
  display: flex;
  column-gap: calc(35 /375 * 100vw);

  @include mq(md) {
  column-gap: rem(140);
  }
}

.footer__nav-item a {
  position: relative;
  display: block;
  font-size: rem(16);
  line-height: calc(18 /16);
  font-weight: $regular;
}

.footer__nav-item--main a {
  font-weight: $bold;
  position: relative;
}

.footer__nav-item--main a::before {
  content: '';
  position: absolute;
  top: 0;
  left: rem(-22);
  background-image: url(../images/common/drawer-starfish.png);
  background-size: cover;
  width: rem(18);
  height: rem(18);
}

.footer__copyright {
  margin: rem(40) rem(-1) 0;
  display: block;
  font-size: rem(12);
  font-family: $second-font-family;
  font-weight: $regular;
  line-height: 1;
  text-align: center;

  @include mq(md) {
    font-size:  rem(14);
    margin: rem(80) 0 0;
  }
}