@use "global" as *;

.information-card {
  @include mq(md) {
    display: flex;
    align-items: center;
    column-gap: rem(48);
  }
}

.information-card__img {
  @include mq(md) {
    width: 50%;
    /* アニメーション */
    position: relative;
  }
}

/* アニメーション */
.information-card__img div.color{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #408F95;
}

.information-card__img img {
  aspect-ratio: 345 / 227;
  object-fit: cover;
  height: auto;
  
  @include mq(md) {
    /* アニメーション */
    display: block;
    width: 100%;
  }
}

.information-card__body {
  font-family: $base-font-family;
  color: $title-color;
  padding-top: rem(24);

  @include mq(md) {
  flex: 1;
  }
}

.information-card__title {
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc(24 / 20);
  padding-bottom: rem(4);
  border-bottom: 1px solid $accent-color;

  @include mq(md) {
  font-size:  rem(24);
  line-height: 1;
  }
}

.information-card__text {
  font-size: rem(16);
  font-weight: $regular;
  letter-spacing: .0em;
  line-height: calc(24 / 16);
  color: $title-color;
  margin-top: rem(8);
}

