@use "global" as *;

.layout-page-top {
  position: absolute;
  right: rem(15);
  bottom: rem(16);

  @include mq(md) {
    right: rem(20);
    bottom: rem(20);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }
 
}