@use "global" as *;

.pagenavi .wp-pagenavi {
  clear: both;
  text-align: center;
  display: flex;
  justify-content: center;
}

.pagenavi__box {
  display: flex;
  flex-direction: row;
  column-gap: rem(12);
}

.pagenavi .wp-pagenavi a,
.pagenavi .wp-pagenavi span {
  display: inline-block;
  font-family: $third-font-family;
  padding: rem(10) 0;
  width: rem(38);
  height: rem(38);
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1;
  white-space: nowrap;
  border: 1px solid $accent-color;
  background-color: $white;
  color: $accent-color;
  transition: .3s;
}

.pagenavi .wp-pagenavi a:hover,
.previouspostslink:hover,
.nextpostslink:hover {
  color: $white;
  background-color: $accent-color;
  border-color: $accent-color;
  opacity: 1;
}

.previouspostslink:hover::after,
.nextpostslink:hover::after {
  border-right: rem(1) solid $white;
  border-bottom: rem(1) solid $white;
}

.pagenavi .wp-pagenavi .current {
  color: $white;
  background-color: $accent-color;
  border-color: $accent-color;
}

.previouspostslink,
.nextpostslink {
  position: relative;
}

.previouspostslink::after,
.nextpostslink::after {
  content: '';
  position: absolute;
  width: rem(10);
  height: auto;
  aspect-ratio: 1;
  border-right: rem(1) solid $accent-color;
  border-bottom: rem(1) solid $accent-color;
  top: 50%;
}

.previouspostslink::after {
  left: calc(50% + rem(2));
  transform: translate(-50%, -50%) rotate(135deg);
}

.nextpostslink::after {
  left: calc(50% - rem(2));
  transform: translate(-50%, -50%) rotate(-45deg);
}