@use "global" as *;

.price {
  padding: rem(83) 0 rem(78);
  background-color: $accent-bg;

  @include mq(md) {
    padding: rem(100) 0 rem(99);
  }
}

.price__illustration-wrapper {
  max-width: rem(1271);
  width: 100%;
  margin: auto;
  position: relative;
}

.price__container {
  margin-top: rem(28.5);

  @include mq(md) {
    margin-top: rem(40);
  }
}

.price__content {
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    column-gap: rem(93);
  }
}

.price__image {
  @include mq(md) {
    width: 45.682%
  }
}

.price__image img {
  aspect-ratio: 345 / 227;
  object-fit: cover;
  height: auto;

  @include mq(md) {
    aspect-ratio: 492 / 745;
  }
}

.price__items {
  margin-top: rem(40.5);

  @include mq(md) {
    margin-top: 0;
    flex: 1;
  }
}

.price__illustration {
  display: none;
  width: rem(452);
  height: rem(201);
  position: absolute;
  left: rem(0);
  bottom: rem(-39);
  padding-left: rem(15);

  @include mq(md) {
    display: block;
  }
}