@use "global" as *;


.price-item {
  font-family: $base-font-family;
  color: $title-color;
}

.price-item + .price-item {
  margin-top: rem(40);
}

.price-item__title {
  font-size:  rem(16);
  font-weight: $bold;
  line-height: calc(24 / 16);
  padding-bottom: rem(4);
  border-bottom: 1px solid $accent-color;
}


.price-item__box {
  display: flex;
  justify-content: space-between;
  margin-top: rem(8);
}

.price-item__course {
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(24 / 14);
}

.price-item__price {

}



